node_modules/
build/
wiki-repo/
npm-debug.log*
/qodana.yaml
.env
/src/data/contentUpdateWatcherState.json
/src/data/contentUpdateWatcherState.json.*.tmp
/src/data/itemWatcherState.json
/src/data/itemWatcherState.json.*.tmp
/src/data/playfabDeviceId.json
/src/data/playfabDeviceId.json.*.tmp
/src/data/subscriptionWatcherState.json
/src/data/subscriptionWatcherState.json.*.tmp
/src/data/webhooks.json
/src/data/webhooks.json.*.tmp
